<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Input Failed</title>
  </head>
  <body>
    <h1>Something went wrong!</h1>
    <h2>Please refresh the page and ensure all sections are filled!</h2>

  </body>
</html>
