<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Input Successful!</title>
</head>

<body>
  <h1>You have input the following data:</h1>

  <p>
    <b>Your Name: </b> <%=name  %><br>
    <b>Your Date of Birth: </b> <%=dob  %><br>
    <b>Your Gender: </b><%= gender  %><br>
    <b>Your Email: </b><%= email  %><br>
  </p>

  <h3>Refresh the page to go back!</h3>


</body>

</html>
